<div class="container text-center"> 
<div class=" text-right">
  <%= link_to('Logout', destroy_user_session_path, method: :delete, ) %>
</div>
<div class=" text-center">
<h1>Listing Questions</h1>
</div>
<div id="new-question">
<%= link_to new_question_path, remote: true do %>
  <button class='btn btn btn-primary'>New Question</button>
  <% end %>
</div>

<table border=1>
  <tr>
    <th>Title</th>
    <th>Question</th>
    <th>Asked by</th>
  </tr>
  
  <% @questions.each do |question| %>
    <tr >
      <td><%= question.title %></td>
      <td><%= question.text %></td>
      <td><%= current_user.id == question.user_id ? "YOU" : "OTHER" %></td>
      <td><%= link_to question_path(question), remote: true do %>
        <button class='btn btn-sm btn-primary'>Show Answers</button>
      <% end %> </td>
      <td><%= link_to edit_question_path(question), remote: true do %>
        <button class='btn btn-sm btn-primary'>Edit</button>
      <% end %> </td>
      <td><%= link_to question_path(question), method: :delete,
      data: { confirm: 'Are you sure?' } do %>
        <button class='btn btn-sm btn-primary'>Delete Me</button>
      <% end %> </td>
    </tr>
  <% end %>
</table>
</div>
<div id="new-question-form" style="display:none;" class="modal-dialog"></div>
