<div id="new-question" class="container text-center"> 
<h1>Submit a Question</h1>
<%= form_with scope: :question, url: questions_path, local: true do |form| %>
  <% if @question.errors.any? %>
  <div id="error_explanation">
    <h3>
      <%= pluralize(@question.errors.count, "error") %> prohibited
      this question from being saved:
    </h3>
    <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>
 
  <p>
    <%= form.submit "Ask", :class => 'btn btn-lg btn-primary' %>
  </p>
<% end %>
<%= link_to "Cancel", questions_path,  :class => 'btn btn-lg btn-secondary' %>

</div>